<h1>Home</h1>
<div>
  <% if psychologist_signed_in? %>
    <%= link_to 'Cadastrar avaliado', new_evaluated_path %>
    <%= link_to 'Ver instrumentos', instruments_path %>

    <p>Lista de pacientes</p>
    
    <% @evaluateds.each do |evaluated| %>
      <p><%= link_to evaluated.name, evaluated_path(evaluated) %></p>
    <% end %>

  <% else %>
    <%= link_to 'Entrar como Psicólogo', new_psychologist_session_path %>
  <% end %>
</div>